/* :hover */
h1:hover {
	background-color: pink;
}

button:hover {
	color: white;
}

/* :focus */
input:focus {
	background-color: teal;
}

button:focus {
	border-radius: 10px;
	background-color: #2ecc71;
}

/* :active */
button:active {
	background-color: orange;
	font-size: 30px;
}

p:active,
h1:active {
	color: yellow;
}
