/* .App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
 */

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");

body {
	width: 90vw;
	font-family: "Montserrat", sans-serif;
	background: #ecf0f1;
}

/*****************************HEADER STYLES*****************************/
header {
	text-align: center;
}
header h1 {
	font-size: 64px;
	font-weight: 300;
	margin: 80px 0 25px;
	color: #2c3e50;
}
header h1 span {
	font-weight: 700;
}
header h2 {
	color: #bdc3c7;
	font-weight: 300;
}
/*****************************FORM STYLES*****************************/

.form {
	width: 90vw;
	margin: auto;
}

#todoInput {
	width: 100vw;
	height: 10px;
	background: none;
	border: none;
	border-bottom: 1px solid #34495e;
	outline: none;
	font: 300 28px "Ubuntu", sans-serif;
	padding: 20px;
	color: #34495e;
}

/*****************************LIST STYLES*****************************/
.list {
	width: 90vw;
	margin: 0 auto;
}
.task {
	width: 90vw;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	padding: 0 20px;
	color: #34495e;
	transition: all 0.3s ease;
}
.task:hover {
	background: rgba(0, 0, 0, 0.02);
	cursor: pointer;
}

.task:hover span {
	opacity: 1;
}

.done {
	text-decoration: line-through;
	color: #bdc3c7;
}

li span {
	float: right;
	color: #c0392b;
	transition: all 0.3s;
	opacity: 0;
}

li span:hover {
	color: #e74c3c;
}

button {
	margin: auto;
	margin-top: 1em;
	font-size: 2em;
	padding: 0.5em;
	font-weight: bolder;
	border-radius: 10px;
	display: block;
	width: 50%;
	background-color: lightseagreen;
}

